html {
	height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
	flex: 1;
}

.btn-primary{
	background-color: #c12121;
	border-color: #580000;
}
.btn-primary:active:hover, .btn-primary.active:hover, 
.open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, 
.btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, .btn-primary.active.focus, 
.open>.dropdown-toggle.btn-primary.focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #981111;
    border-color: #580000;
}

/* Header  */
.header .navbar-default, .footer{
	background-color: #c12121;
    border-color: #580000;
}
.header .navbar-default .navbar-nav>li>a {
	color: #e6d3d3;
}
.header .navbar-default .navbar-nav>li>a:hover, .header .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.header .navbar-default .navbar-nav>.open>a, .header .navbar-default .navbar-nav>.open>a:hover, .header .navbar-default .navbar-nav>.open>a:focus, .header .navbar-default .navbar-nav>.active>a, .header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.active>a:focus {
	color: #e6d3d3;
	background-color: #d83d3d;
}
.header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
}

.navbar>div>button {
	margin: 8px 0;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background-color: #D83D3D;
	color: #fff;
}

/*  Sitebar  */

.nav-pills.nav-stacked>li.active>a, .nav-pills.nav-stacked>li.active>a:hover, .nav-pills.nav-stacked>li.active>a:focus {
	background-color: #fff;
	color: #C12121;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: #c12121;
	border-color: #580000;
	color: #fff;
}
.nav-pills.nav-stacked>li.active>a:before {
	content: ' ';
	display: block;
	position: absolute;
	left: -5px;
	top: 15px;
	border-left: 10px solid #C12121;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
a {
	color: #861010;
}
a:hover, a:focus {
	color: #C12121;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #fbf9f9;
}

/*  Main  */

.content-area {
	position: relative;
}

.content-area>.btn{
	font-size: 130%;
	padding: 8px 11px 5px;
	position: absolute;
	top: 0;
	right: 0;
}

.news{
	margin-top: 15px;
	border-bottom: 1px solid #EEEEEE;
}
.news .close{
	margin-left: 10px;
}
.pagination>li>a, .pagination>li>span {
	color: #861010;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #C12121;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	color: #fff;
	background-color: #D83D3D;
	border-color: #D83D3D; 
}
.game__name{
	width: 75%;
	float: left;
}
.game__time{
	width: 15%;
	font-size: 25px;
	margin: 10px;
	float: left;
}
.average {
	clear: both;
	font-size: 110%;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 0;
}
.average+p {
	font-size: 35px;
	text-align: center;
}
.form-control{
	margin-bottom: 5px;
}

.tab-content>.tab-pane{
	padding: 10px 0;
}

.session-panel  .period-nav{
	font-size: 140%;
	margin: 5px 15px 0;
}
.session-panel  .period-nav a:hover, .session-panel  .period-nav a:focus, .session-panel  .period-nav a:active{
	text-decoration: none;	
}
.session-panel .info{
	margin: 8px 25px 0;
}
.period{
	padding: 10px 0 15px;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 15px;
}
.excel {
	background: url('../img/excel.png') no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	width: 28px;
	height: 28px;
	display: block
}
.print{
	font-size: 18px;
    color: #000;
    padding-top: 3px;
	margin-left: 10px;
}
.print:hover, .print:active, .print:focus{
	text-decoration: none;
	color: #000;
}
.error{
	font-weight: 800;
	color: red;
}
.table .glyphicon-ok{
	color: green;
}
.table .glyphicon-remove{
	color: red;
}
.album-manage{
	position: absolute;
	top: 4px;
	right: 19px;
	padding: 5px;
	background-color: rgba(255, 255, 255 ,0.7);
	font-size: 20px;
	color: #000;
}
.album-manage .close{
	margin-left: 5px;
	font-size: 26px;
}
.album-manage a, .album-manage .close{
	opacity: 0.4;
	color: #000;
	cursor: pointer;
}
.album-manage a:hover,.album-manage a:focus,.album-manage a:active,
.album-manage .close:hover, .album-manage .close:active, .album-manage .close:focus{
	text-decoration: none;
	opacity: 0.8
}
/*  footer   */
.footer {
	color: #fff;
	margin-top: 20px;
}
.center-text {
	text-align: center;
}

.resolve-item {
	text-align: right;
	font-weight: bold;
	padding-top: 5px;
}
h4.resolve-item {
	padding-top: 0;
}

.previous {
	line-height: 33px;
	font-size: 20px;
	text-align: center;
}


