html {
	height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
	flex: 1;
}

.btn-primary{
	background-color: #c12121;
	border-color: #580000;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background-color: #981111;
    border-color: #580000;
}

/* Header  */
.header .navbar-default, .footer{
	background-color: #c12121;
    border-color: #580000;
}
.header .navbar-default .navbar-nav>li>a {
	color: #e6d3d3;
}
.header .navbar-default .navbar-nav>li>a:hover, .header .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.header .navbar-default .navbar-nav>.open>a, .header .navbar-default .navbar-nav>.open>a:hover, .header .navbar-default .navbar-nav>.open>a:focus, .header .navbar-default .navbar-nav>.active>a, .header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.active>a:focus {
	color: #e6d3d3;
	background-color: #d83d3d;
}
.header .navbar-default .navbar-nav>.active>a:hover, .header .navbar-default .navbar-nav>.active>a:focus {
	color: #fff;
}

.navbar>div>button {
	margin: 8px 0;
}

/*  Sitebar  */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #fff;
	color: #C12121;
}
.nav-pills>li.active>a:before {
	content: ' ';
	display: block;
	position: absolute;
	left: -5px;
	top: 15px;
	border-left: 10px solid #C12121;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
a {
	color: #861010;
}
a:hover, a:focus {
	color: #C12121;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #fbf9f9;
}

/*  Main  */

.content-area {
	position: relative;
}

.content-area>.btn{
	font-size: 130%;
	padding: 8px 11px 5px;
	position: absolute;
	top: 0;
	right: 0;
}

.news{
	margin-top: 15px;
	border-bottom: 1px solid #EEEEEE;
}

.pagination>li>a, .pagination>li>span {
	color: #861010;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #C12121;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
	color: #fff;
	background-color: #D83D3D;
	border-color: #D83D3D; 
}
.game__name{
	width: 75%;
	float: left;
}
.game__time{
	width: 15%;
	font-size: 25px;
	margin: 10px;
	float: left;
}
.average {
	clear: both;
	font-size: 110%;
	text-align: center;
	padding-top: 30px;
	margin-bottom: 0;
}
.average+p {
	font-size: 35px;
	text-align: center;
}
.new-game .form-control{
	margin-bottom: 5px;
}

/*  footer   */
.footer {
	color: #fff;
	margin-top: 20px;
}